.centrar{
    width: 80%;
    height: auto; /*alto*/
    overflow: hidden;
    border: 0px solid ;
    margin: auto;/*para centrar*/
}

.contenedor-sobre-nosotros{
    display: flex;
    padding: 25px;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 span{
    background: #a80f78;
    color: rgb(247, 247, 247);
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    width: 7%;
    padding: 2px;
    margin-right: 10px;
}

.contenido-textos{
    padding: 30px ;
}

p{
    font-family: 'Livvic', sans-serif;
}

.contenedores{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.contenidos{
    width: 45%;
    height: 220px;
    position: relative;
    padding: 20px;
    border: 1px solid black;
    text-align: right;
    box-shadow: 0px 0px 10px rgb(73, 72, 72);
    margin-bottom:  25px; /* espacio entre los cuadros*/
}

.img-evento{
    float: left; 
    position: relative;
}

.contenedor-plan{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan{
    width: 30%;
    height: auto;
}

.color{
    color: #a80f78;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.subtitulo{
    color: #D77A5B; 
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* IMAGENES DEL BODY*/
.galeria-img{
    display: flex;
}

.imagen-port{
    width: 25%;
    margin-bottom: 2%; 
}

.imagen-port > img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contenedor{
    padding: 40px 0;
    padding-left: 100px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

/*DESCRIPION-LUG-INV*/
.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: "img1 img2 img3 img4"
    "img5 img6 img7 img8";
    gap: 10px; /*espaciado*/
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.projects__item:nth-of-type(1){
    grid-area: img1;
}

.projects__item:nth-of-type(2){
    grid-area: img2;
}

.projects__item:nth-of-type(3){
    grid-area: img3;
}

.projects__item:nth-of-type(4){
    grid-area: img4;
}

.projects__item:nth-of-type(5){
    grid-area: img5;
}

.projects__hover{
    position: absolute;
    background: #a80f786e;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.projects__item:hover .projects__hover{
    transform: translateX(0%);
}

.projects img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.centrar{
    width: 80%;
    height: auto; /*alto*/
    overflow: hidden;
    border: 0px solid ;
    margin: auto;/*para centrar*/
}

/*INVITAD0S*/

/*INVITAD0S*/

.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "img1 img2 img3 img4"
    "img5 img6 img7 img8 ";
    gap: 5px;
}
   
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .5s;
}

.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}

.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateX(-2500);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}

.move{
    transform: translateX(0%);
}

.img-show{
    transform: scale(0);
    height: 80%;
    display: block;
    object-fit: cover;
    transition: transform .2s .2s ;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 40px;
}
   
.bx.bx-x{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}
  

.content-box{
    width: 240px;
    height: 60px;
    border-radius: 6px;
    background-color: rgb(129, 35, 67);
    padding: 20px;
    display: flex;
}

.content-before{
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

#contenedor{
    display: flex;

}

.content-after{
    display: none;
    font-size: 14px;
    color: #fff;
    text-align: right;
    line-height: 16px;
    opacity: 0;

}
#premio{
    display: none;
}
  

/*LUGARES*/
.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "img1 img2 img3 img4"
    "img5 img6 img7 img8 ";
    gap: 5px;
}
   
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .5s;
}

.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}

.container-img{
    position: fixed;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}

.move{
    transform: translateX(0%);
}

.img-show{
    transform: scale(0);
    height: 80%;
    display: block;
    object-fit: cover;
    transition: transform .2s .2s ;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 40px;
}
   
.bx.bx-x{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}
