
.bloque{
    width: 100%; /*ancho*/
    height: auto; /*alto*/
    overflow: hidden;
}

.centrar{
    width: 80%;
    height: auto; /*alto*/
    overflow: hidden;
    border: 0px solid ;
    margin: auto;/*para centrar*/
}

.contenedor-sobre-nosotros{
    display: flex;
    padding: 25px;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3 span{
    background: #a80f78;
    color: rgb(247, 247, 247);
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    width: 7%;
    padding: 2px;
    margin-right: 10px;
}

.contenido-textos{
    padding: 30px ;
}

p{
    font-family: 'Livvic', sans-serif;
}

.tipo_tit{
    font-family: 'Alegreya Sans SC', sans-serif;
}


.evento{
    /*background-color: rgba(179, 157, 219, 0.603);*/
}
.contenedores{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.contenidos{
    width: 45%;
    height: 220px;
    position: relative;
    padding: 20px;
    border: 1px solid black;
    text-align: right;
    box-shadow: 0px 0px 10px rgb(73, 72, 72);
    margin-bottom:  25px; /* espacio entre los cuadros*/
}

.img-evento{
    float: left; 
}

.funcion_body{
    /*background-color: rgb(187, 230, 231);*/
}
.contenedor-plan{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan{
    width: 30%;
    height: auto;
}

.color{
    color: #a80f78;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.subtitulo{
    color: #D77A5B; 
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* galeria*/
.titulo-galeria{
    position: relative;
    height: 60px;
    width: auto;
    padding: 15px;
    background: -webkit-linear-gradient(top,#96166dd7,#202c3a);
    color: rgb(241, 232, 232);
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*las 3 columnas*/
    grid-auto-rows: 20%;
    padding: 20px;
    grid-gap: 10px; /*espaciado*/
}
.gallery__item{
    position: relative;
}
.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*para que nose distorsione la img*/
}

.gallery__item:nth-child(1){
    grid-column-end:span 2 ; /*hace que ocupe dos espacios en columnas*/
}

.gallery__item:nth-child(6){
    grid-row-end:span 2 ; /*hace que ocupe dos espacios en filas*/
}

.gallery__item:nth-child(8){
    grid-column-end:span 2;
    grid-row-end:span 2 ;
}

.gallery__item:nth-child(12){
    grid-row-end:span 2 ; /*hace que ocupe dos espacios en filas*/
}
.gallery__item:nth-child(14){
    grid-column-end:span 2 ; /*hace que ocupe dos espacios en filas*/
}



.galeria-img{
    display: flex;
}

.imagen-port{
    width: 25%;
    margin-bottom: 2%; 
}

.imagen-port > img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.about-service{
    background: cornsilk;
    padding-bottom: 30px;
}
.contenedor{
    padding: 40px 0;
    padding-left: 100px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.primer-evento{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primer-eve{
    width: 28%;
    text-align: center;
}

.primer-eve img{
    width: 90%;
}

/*invitados*/
.fondo-titulo{
    position: relative;
    height: 60px;
    width: auto;
    padding: 15px 580px;
    background: -webkit-linear-gradient(top,#96166dd7,#202c3a);
    color: rgb(252, 252, 252);
}

.linea{
    background: #202c3a;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    overflow: hidden;
    grid-gap: 30px; /*espaciado*/
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;

}

.galeria img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.galeria a:hover img{
    filter: blur(1px);/*distorsion*/
    transform: rotate(15deg) scale(1.3);
}
.gallery__title{
    position: absolute;
    bottom: 0;
    color: white;
    background: -webkit-linear-gradient(top,#778aa028,#1a293b);
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: 'Arya', sans-serif;
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /*para que la imagen este centrada vertical*/
    align-items: center; /*para que la imagen este centrada horizontal*/
    transform: scale(0); /*para que la imagen desaparesca al presionar x*/
}

.light-box img{
    width: 500px;
    height: 450px;
}

.light-box:target{
    transform: scale(1); /*para que aparesca la imagen al precionarlo*/
}
.close{
    position: fixed;
    display: block;
    top: 120px;
    right: 450px;
    background: #D77A5B;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.descripcion{
    position: fixed;
    width: 470px; /*ancho*/
    height: auto; /*alto*/
    background: #202c3a;
    color: white;
    text-align: center;
    padding: 15px;
    top:500px;
    align-items: center;
    
}

p .descripcion{
    font-family: 'Livvic', sans-serif;
}



