/**ALEJANDRO**/
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
        scrollbar-width: none;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0; /* remove default margin */
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
}
main{
    background: #ffffff;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}
/**HEADER**/
header {
    background-color: rgb(32, 44, 58);
    height: auto;
}
.carrusel{
    width: 100%;
    height: auto;
}
.banner-text{
    background: rgba(168, 15, 120, 0.842);
    position: absolute;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 10em;
    margin-left: 30%;
    z-index: 90;
}
.banner-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}
#letradorada{
    color: #efb810;
}
/**-->HEADER**/

/**BARRA DE NAVEGACION**/
.navbar {
    background: #202c3a;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	transition: .3s ease-out all;
}
.navbar a:hover {
	color: #fff;
	text-decoration: none;
}
.contenedor-nav {
	max-width: 1300px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
/**-->BARRA DE NAVEGACION**/
/**BOTON NEON NAV**/
.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: rgb(215, 122, 91);
    box-shadow: 0 0 10px rgb(215, 122, 91), 0 0 40px rgb(215, 122, 91), 0 0 80px rgb(215, 122, 91);
    /*transition-delay: 1s;   /**borrame**/
}
    
.btn-neon span {
    position: absolute;
    display: block;
}
    
#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,rgb(215, 122, 91));
}
/**-->BOTON NEON NAV**/
/**BARRA LATERAL___ASIDE**/
.container-nav-header{
    
    position: fixed;
    top: 0px;
    left: 20px;
}
.nar-lateral-flotante{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.logo{
    height: 45px;
    width: 225px;
    margin-left: 20px;
}
.bar-btn{
    font-size: 25px;
    width: auto;
    color: rgb(215, 122, 91);
    margin-top: 0px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0,0,0,.95);
    text-align: left;
    transition: all .5s;
}
.nav-menu li{
    display: none;
    line-height: 10px;
    margin: 35px 0;
    transition: all .5s;
}
.nav-menu li a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover{
    color: rgba(255, 176, 85, 0.952);
    transition: .3s;
}
#check{
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;
}
#check:checked ~ .nav-menu li{
    display: block;
}
/**-->BARRA LATERAL___ASIDE**/
/**BOTON-FLOTANTE**/
#btn-mas{
    display: none;
}
.container-btn-flotante{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.btn-mas a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: rgb(3, 197, 68);
    color: #fff;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redessociales a:hover{
    background: #fff;
    color: #cc2b2b;
}
.redessociales a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redessociales a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: #f44141;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(135deg);
    font-size: 25px;
}
/**-->BOTON-FLOTANTE**/
/**EFECTOS DE SCROLLBAR**/
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    display: none;
}
#barra-progreso{
    z-index: 100    ;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    border-radius: 0px;
    background: linear-gradient(to top, #FF4C70, #fd1d1d, #A80F78);
}
/**-->EFECTOS DE SCROLLBAR**/
/** FORMULARIO DE CONTACTO**/
#centro3{
	width: 800px;
	margin: auto; border: 0px solid; height: auto; overflow: hidden;
	text-align: center;
}
.encabezados{
	font-size: 30px;
	color: rgb(168, 15, 120);
}
#izquierda{
	width: 300px;
	height: auto; overflow: hidden;
	border: 0px solid;
	float: left;
}
.texto-contacto{
	text-align: left;
}
.email-contacto{
	color: #848484;
	text-decoration: none;
}

.email-contacto:hover{
	text-decoration: underline;
}
#derecha{
	width: 490px;
	border: 0px solid;
	height: auto; overflow: hidden;
	float: right;
}
.nombre-mensaje{
	width: 95%;
}

.email-asunto{
	width: 45%;
}
input[type="text"], input[type="email"]{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}
textarea{
	border: 1px solid #ccc;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}
input[type="submit"]{
	padding: 10px;
	background: rgb(168, 15, 120);
	color: #fff;
	border: 1px solid #086A87;
	border-radius: 5px;
}
#mapa{
	width: 100%;
	height: auto; overflow: hidden;
	padding: 20px;
}
/**-->FORMULARIO DE CONTACTO**/
/**-->ALEJANDRO**/
/**PAOLA**/
button{
    background: rgb(141, 49, 110);
    color: orange;
    padding: 5px 10px;
    border: 1px solid #086A87;
    border-radius: 60px; 
}
a:visited {
    color:orange; /*para marcar sitios visitados*/
}
/* p:nth-child(odd){  
    color: white;
} */
/* p:first-child{  
    color: rgb(5, 5, 5);
} */
.centrar{
    width: 80%;
    height: auto; /*alto*/
    overflow: hidden;
    border: 0px solid ;
    margin: auto;/*para centrar*/
}
.contenedor-sobre-nosotros{
    display: flex;
    padding: 25px;
}
.imagen-about-us{
    width: 48%;
}
.sobre-nosotros .contenido-textos{
    width: 48%;
}
.contenido-textos h3 span{
    background: #a80f78;
    color: rgb(247, 247, 247);
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    width: 7%;
    padding: 2px;
    margin-right: 10px;
}
.contenido-textos{
    padding: 30px ;
}
p{
    font-family: 'Livvic', sans-serif;
    font-size: 20px;
}
.contenedores{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.contenidos{
    width: 45%;
    height: 220px;
    position: relative;
    padding: 20px;
    border: 1px solid black;
    text-align: right;
    box-shadow: 0px 0px 10px rgb(73, 72, 72);
    margin-bottom:  25px; /* espacio entre los cuadros*/
}
.img-evento{
    float: left; 
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    position: relative;
}
.contenedor-plan{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.plan{
    width: 30%;
    height: auto;
}
.color{
    color: #a80f78;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.subtitulo{
    color: #D77A5B; 
    font-family: 'Alegreya Sans SC', sans-serif;
}
/* IMAGENES DEL BODY*/
.galeria-img{
    display: flex;
}
.imagen-port{
    width: 25%;
    margin-bottom: 2%; 
}
.imagen-port > img{
    width:100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.contenedor{
    padding: 40px 0;
    padding-left: 100px;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
/*DESCRIPION-LUG-INV*/
.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: "img1 img2 img3 img4"
    "img5 img6 img7 img8";
    gap: 10px; /*espaciado*/
}
.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.projects__item:nth-of-type(1){
    grid-area: img1;
}
.projects__item:nth-of-type(2){
    grid-area: img2;
}
.projects__item:nth-of-type(3){
    grid-area: img3;
}
.projects__item:nth-of-type(4){
    grid-area: img4;
}
.projects__item:nth-of-type(5){
    grid-area: img5;
}
.projects__hover{
    position: absolute;
    background: #a80f786e;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;
}
.projects__item:hover .projects__hover{
    transform: translateX(0%);
}
.projects img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.centrar{
    width: 80%;
    height: auto; /*alto*/
    overflow: hidden;
    border: 0px solid ;
    margin: auto;/*para centrar*/
}

/*INVITAD0S*/
.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "img1 img2 img3 img4"
    "img5 img6 img7 img8 ";
    gap: 5px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .5s;
}
.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}
.container-img{
    position: fixed;
    transform: translateX(-2500);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in;
}
.move{
    transform: translateX(0%);
}
.img-show{
    transform: scale(0);
    height: 10px;
    width: 500px;
    display: block;
    object-fit: cover;
    transition: transform .2s .2s ;
}
.show{
    transform: scale(1);
}
.copy{
    position: absolute;
    color: rgb(3, 3, 3);
    bottom: 40px;
    background-color: rgb(0, 0, 0);
}
.bx.bx-x{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}
.content-box{
    width: 240px;
    height: 60px;
    border-radius: 6px;
    background-color: rgb(129, 35, 67);
    padding: 20px;
    display: flex;
}
.content-before{
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
#contenedor{
    display: flex;
}
.content-after{
    display: none;
    font-size: 14px;
    color: #fff;
    text-align: right;
    line-height: 16px;
    opacity: 0;

}
#premio{
    display: none;
}
/*LUGARES*/
.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "img1 img2 img3 img4"
    "img5 img6 img7 img8 ";
    gap: 5px;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img:hover{
    filter: grayscale(50%);
    cursor: pointer;
    transition: filter .5s;
}

.img-1{
    grid-area: img1;
}
.img-2{
    grid-area: img2;
}
.img-3{
    grid-area: img3;
}
.img-4{
    grid-area: img4;
}
.img-5{
    grid-area: img5;
}

.container-img{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0,.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.move{
    transform: translateX(0%);
}
/*efectos de rotacion*/

.color:hover
{
    -webkit-transform: rotate(10deg);
    color: #D77A5B;
}
.subtitulo:hover
{
    -webkit-transform: rotate(10deg);
    color: #a80f78;
}

.img-show{
    transform: scale(0);
    height: 80%;
    display: block;
    object-fit: cover;
    transition: transform .2s .2s ;
}

.show{
    transform: scale(1);
}

.copy{
    position: fixed;
    color: #fff;
    bottom: 40px;
}

.bx.bx-x{
    position: absolute;
    color: #fff;
    top: 20px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}
/**-->PAOLA**/
/**FABRICIO**/
footer/*colores */
{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: linen;
    background-color: #202c3a;
    justify-content:space-between;
}

.contenedor-footer/*contededor de todo el footer */
{
    max-width: 1000px;
    padding-top: 20px;
    margin: auto;
}
.contenedor_cuerpo
{ 
    display: flex;
    height:100% ; 
}
.columna1/*primera columna del div*/
{
    max-width: 700px; 
}
.columna1 h1
{
    margin-left: 35px;
    font-size: 22px; 
    color: #a80f78; 
}
.columna2
{
    max-width:400px;
    margin-left: 100px;
    text-align:center;
    
}
.columna2 h1
{
    font-size: 22px; 
    color: #a80f78; 
}
.columna3
{
    margin-left: 100px;
}
.columna3 h1
{
    height: auto;
    font-size: 22px; 
    color: #a80f78; 
}
.row
{
    display: flex;
}
.row label
{
    margin-left: 25px; 
}

.form
{
    width: 250px;
    height: auto;
    display: flex;
}

@media screen and (max-width:1100px)
{
    .contenedor_cuerpo
    {
        flex-wrap:wrap;
    }
}

#rotaciones:hover
{
-webkit-transform: rotate(30deg);
            
}
.social a
{
    display: inline-flex;
    color:white;
    height: 48px;
    width: 48px;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 0.4s;
}
.social a:hover
{
    transform: scale(1.4);
}
.social a.facebook
{
    background-color: cornflowerblue;
} 
.social a.twitter
{
    background-color: deepskyblue;
}
.social a.youtube
{
    background-color: firebrick;
}
.social a.whatsapp
{
    background-color:limegreen;
}
/**-->FABRICIO**/